#bookup{
    display: flex;
}
#bookinfo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 5%;
}
#copies > * >*{
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
    padding-bottom: 10%;
    margin-block-start: 15%;  
    margin: 15%;  
}
.copiesrows>td{
    padding-bottom: 30%;
    text-align: center;
}
.availability{
    width: 70px;
}
img[name="ok"]:hover{
    filter: brightness(1.25);
}