div(id="userplace")
    input(type="text" id="user-name-input" class="userinput" placeholder="nazwa użytkownika")
    input(type="password" id="user-password-input" class="userinput" placeholder = "hasło")
    div.logbuttons
        a(href="http://localhost:8080/register" id="registerbutt") zarejestruj się
        button(type="button" id="loginbutt" ) zaloguj
    