<!DOCTYPE html>
html(lang="pl")
    head
        meta(charset="UTF-8")
        link(rel="icon" type="img/booklogo" src="/img/booklogo.png")

        style
            include styles/base.css
        title Biblioteka
    body
        script(src="/scripts/login.js")
        script(src='/scripts/search.js')
        script(src='/scripts/loginlibrarian.js')
        script(src='/scripts/logout.js')
        
        div(id="left")
            if logged
                include includes/logged.pug
            else
                include includes/unlogged.pug
            div(id="menu")
                table  
                    tr
                        td(class="menucell") 
                            a(href='http://localhost:8080/' class="menuhyper") Strona gówna
                    if logged

                        tr
                            td(class="menucell")
                                a(href="http://localhost:8080/mybooks" class="menuhyper") Moje książki
                    if iflibrarian
                        tr
                            td(class="menucell") 
                                a.menuhyper(href="http://localhost:8080/addgenre") dodaj gatunek  
                    tr
                        td(class="menucell")
                            a(href="http://localhost:8080/search/?radio=all&text=&selectgatunek=---&selectwydawnictwo=---" class="menuhyper") Katalog
                    tr
                        td(class="menucell") O nas
                    tr
                        td(class="menucell") Kontakt
                    
        
    div(id="right")
        div(id="up")
            h2 #{headertext}
        div(id="search")
            div(id="searchtext")
                h3 szukaj
            div(id="searchbar")
               div(class="radio")
                    input(type="radio" id="autor" class ="radio" name="searchradio") 
                    label(for="radioautor" id='label1') autor
                    input(type="radio" id="tytuł" class ="radio" name="searchradio") 
                    label(for="radioautor" id='label2') tytuł
                    input(type="radio" id="opis" class ="radio" name="searchradio") 
                    label(for="radioautor" id='label3') opis
                    input(type="radio" id="all" class ="radio" name="searchradio" checked='true') 
                    label(for="radioautor" id='label4') wszystko
               div(class="intext")
                    input(type="text" id="searchinput")
               div(class="select")
                    label(for="selectgatunek") Gatunek
                    select(id="selectgatunek" )
                        option ---
                        each val in selectGatunek
                            option=val
                    label(for="selectwydawnctwo") Wydawnictwo 
                    select(id='selectwydawnictwo')
                        option ---
                        each val in selectWydawnictwo
                            option=val    
                    a(id='searchbutt'  ) Szukaj    
        div(id="content")
            block content