extend base.pug
block content 
    script(src="/scripts/register.js")
    table   
        tr
            td
                label(for="name") imię
            td
                input(type="text" id="name")
        tr
            td
                label(for="surname") nazwisko
            td
                input(type="text" id="surname")
        tr
            td
                label(for="age") wiek
            td
                input(type="text" id="age")
        tr
            td
                label(for="username") nazwa użytkownika
            td
                input(type="text" id="username")
        tr
            td
                label(for="password") hasło
            td
                input(type="password" id="password")
        tr
            td
                label(for="secondpassword") potwierdź hasło
            td
                input(type="password" id="secondpassword")
        
        tr
            td
            td
                button(type="button" id="registerbutton"  ) zarejestruj się
                 
        