extend base.pug

block content
   style
      include styles/search.css
   script(src="/scripts/loadmore.js")
   each val in data
      div(class="book")
         img(src='/img/'+ val.zdjecie_adres class="bookimg")
         div(class="booknotpic")
            div(class="bookinformation")
               div(class="whatdata")
                  p(class="bookheaderinfo") Tytuł:
                  p(class="bookheaderinfo") Autor:
               div(class="data")
                  p=  val.tytuł
                  -var valautor= val.autor
                  p=valautor
            div(class="whereisbutton")      
               a(href="http://localhost:8080/infobook/?id="+val.idKsiążka class="moreinfobutt") wiecej  informacji
   button( id="loadmore") Załaduj więcej
   